:root {
    --primary-red: #e7000b; /* Rojo intenso */
    --secondary-black: #080808; 
    --accent-white: #fffff9;
}

body {
    background-color: #080808;
    margin: 0 3rem;
    font-family: 'Arvo', serif;
    color: #fffff9; /* text-blue-900 */
}

/* Estilos generales del artículo */
.post {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 0;
    line-height: 1.8;
}

/* Encabezados usando Bebas Neue */
.post h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: #e7000b;
    margin-bottom: 1rem;
}

.post h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    font-weight: bold;
    color: #fffff9;
    border-bottom: 2px solid #e7000b;
    padding-bottom: 0.5rem;
    margin-top: 2rem;
}

.post h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.75rem;
    font-weight: bold;
    color: #fffff9;
    margin-top: 1.5rem;
}

/* Párrafos */
.post p {
    font-size: 1.1rem;
    color: #fffff9;
    margin-bottom: 1rem;
}

/* Listas */
.post ul, .post ol {
    margin-left: 1.5rem;
    padding-left: 1rem;
}

.post ul {
    list-style-type: disc;
}

.post ol {
    list-style-type: decimal;
}

/* Bloques de código */
.post pre {
    background-color: #fffff9;
    padding: 1rem;
    border-radius: 5px;
    overflow-x: auto;
}

.post code {
    font-family: 'Courier New', monospace;
    color: #080808;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
}

/* Citas */
.post blockquote {
    border-left: 4px solid #e7000b;
    padding-left: 1rem;
    font-style: italic;
    color: #fffff9;
    margin: 1.5rem 0;
}

/* Imágenes */
.post img {
    width: 100%;
    border-radius: 8px;
    margin: 1rem 0;
}

/* Enlaces */
.post a {
    color: #e7000b;
    font-weight: bold;
    text-decoration: underline;
}

.post a:hover {
    color: #fffff9;
}

/* Estilos para las tablas */
.post table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.5rem 0;
    table-layout: fixed;  /* Hace que todas las columnas tengan el mismo ancho */
}

.post th, .post td {
    border: 1px solid #e7000b;
    padding: 1rem;
    text-align: left;
    font-size: 1rem;
    color: #fffff9;
    word-wrap: break-word;  /* Asegura que el texto largo se ajuste dentro de las celdas */
}

.post th {
    background-color: #e7000b;
    color: #ffffff;
    font-weight: bold;
}

.post tr:nth-child(even) {
    background-color: #f4f4f4;
}

.post tr:hover {
    background-color: #e1e1e1;
}

.post caption {
    font-size: 1.25rem;
    font-weight: bold;
    color: #e7000b;
    margin-bottom: 0.5rem;
}
