---
layout: default
title: Acerca
permalink: /acerca/
---

<section class="bg-[#F9F9F9] mx-auto px-6 xl:px-50 py-24 text-[#141414]">
  <header class="mb-20 text-center">
    <h1 class="text-5xl md:text-6xl font-serif font-semibold mb-6 tracking-tight">Hola, soy Aarón</h1>
    <p class="text-xl text-[#BCBCBC] leading-relaxed mx-auto">
      Ingeniero, aprendiz y cultivador de ideas.
    </p>
  </header>

  <div class="space-y-12 text-[#141414] text-lg leading-relaxed tracking-wide md:px-20 lg:px-30 xl:px-40 2xl:px-50 mx-auto">


    <p>
      Este jardín es una extensión de mi pensamiento. Siembro mis ideas, reflexiones y conceptos que voy interiorizando. Con el tiempo estas crecen y se entrelazan, formando una red rizomática independiente de la red de árbol principal.
    </p>

    <p>
      He acomodado un poco a mi beneficio logos, pathos y ethos de Aristóteles para los pilares personales del jardín.
    </p>

    <p>
      En el jardín, logos representa la parte analítica y estructurada a través de la razón, el pensamiento crítico y el conocimiento técnico.
    </p>

    <p>
      Ethos se refleja en el carácter, la virtud y la filosofía de vida. 
    </p>

    <p>
      Pathos aparece a través de la emoción, la belleza y la expresión.
    </p>

    <p>
      Cada pilar sostiene un tipo de contenido y forma de pensar distinto, pero juntos componen una visión completa de cómo aprendo, pienso y siento.
    </p>


  <p>
    En mi jardín encontrarás distintos formatos. Las notas son breves, precisas y conceptuales, desarrollan ideas fundamentales o referencias clave. Los ensayos son más extensos y reflexivos, donde exploro un tema en profundidad y construyo un punto de vista personal y argumentado. Los artículos explican una forma de hacer algo o relatan una experiencia, siempre con un enfoque informativo.
  </p>

    <p>
      Espero que algo aquí te inspire o te acompañe.
    </p>

    <p class="text-center text-sm text-[#BCBCBC] pt-10">
      Gracias por visitar este espacio, te doy la bienvenida a mi jardín.
    </p>

  </div>
</section>
