---
layout: default
title: Acerca
permalink: /acerca/
---

<section class="max-w-4xl bg-[#FAF7F2] mx-auto px-6 md:px-10 py-24 text-gray-900">
  <header class="mb-20 text-center">
    <h1 class="text-5xl md:text-6xl font-serif font-semibold mb-6 tracking-tight">Hola, soy Aarón</h1>
    <p class="text-xl text-gray-600 leading-relaxed max-w-2xl mx-auto">
      Ingeniero, lifelong learner y cultivador de ideas.
    </p>
  </header>

  <div class="space-y-12 text-gray-800 text-lg leading-relaxed tracking-wide max-w-3xl mx-auto">

    <p>
      Soy chileno, ingeniero civil en computación e informática. Pero me considero un estudiante constante de la vida y del mundo. Me encanta encontrar la belleza tanto en una ecuación elegante y una conversación simple como en un paseo en silencio.
    </p>

    <p>
      Este jardín es una extensión viva de mi pensamiento. Es un lugar donde siembro ideas, reflexiones, conceptos e insights. Mi objetivo al crearlo era que las ideas se conectaran formando rizomas entre notas, ensayos y artículos que evolucionan en el tiempo.
    </p>

    <p>
      He acomodado un poco a mi beneficio Logos, Pathos y Ethos de Aristóteles para mis pilares personales del jardín. <br>
      En el jardín, Logos representa la parte analítica y estructurada a través de La razón, el pensamiento y crítico y el conocimiento técnico.
      Ethos se refleja en el carácter, la virtud y la filosofía de vida.
      Pathos aparece a través de la emoción, la belleza y la expresión.
      Cada pilar sostiene un tipo de contenido y forma de pensar distinto, pero juntos componen una visión completa de cómo aprendo, pienso y siento.
    </p>


    <hr class="my-10 border-gray-300">

    <h2 class="text-3xl font-serif font-semibold">¿Por qué existe este jardín?</h2>

    <p>
      He creado este jardin para pensar en voz alta. Para compartir. Para no olvidar lo que me transforma. Es un lugar donde las ideas que planto crecen orgánicamente, se ramifican, cambian de forma y, a veces, florecen.
    </p>

  <p>
    Algunas publicaciones que puedes encontrar son breves, precisas y conceptuales: son <strong>notas</strong>, donde desarrollo ideas fundamentales o referencias clave. Otras son más extensas y reflexivas: son <strong>ensayos</strong>, en los que exploro un tema en profundidad y elaboro un punto de vista personal y argumentativo. Y otras capturan un instante, una forma de hacer algo, una experiencia o una observación del mundo: son <strong>artículos</strong>, son escritos informativos.
  </p>

    <p>
      Espero que algo aquí te inspire o te acompañe. Como en un jardín, no todo florece de inmediato. Pero todo tiene su ciclo.
    </p>

    <p class="text-center text-sm text-gray-500 pt-10">
      Gracias por visitar este espacio, te doy la bienvenida a mi jardín.
    </p>

  </div>
</section>
