---
layout: default
title: Acerca
permalink: /acerca/
---

<section class="max-w-4xl bg-[#FAF7F2] mx-auto px-6 md:px-10 py-24 text-gray-900">
  <header class="mb-20 text-center">
    <h1 class="text-5xl md:text-6xl font-serif font-semibold mb-6 tracking-tight">Hola, soy Aarón</h1>
    <p class="text-xl text-gray-600 leading-relaxed max-w-2xl mx-auto">
      Ingeniero, aprendiz y cultivador de ideas.
    </p>
  </header>

  <div class="space-y-12 text-gray-800 text-lg leading-relaxed tracking-wide max-w-3xl mx-auto">

    <p>
      Me considero un estudiante constante de la vida y del mundo.
    </p>

    <p>
      Este jardín es una extensión viva de mi pensamiento. Es un lugar donde siembro ideas, reflexiones, conceptos e insights. Mi objetivo al crearlo era que las ideas se conectaran formando rizomas entre notas, ensayos y artículos que evolucionan en el tiempo.
    </p>

    <p>
      He acomodado un poco a mi beneficio logos, pathos y ethos de Aristóteles para los pilares personales del jardín.
    </p>

    <p>
      En el jardín, logos representa la parte analítica y estructurada a través de la razón, el pensamiento y crítico y el conocimiento técnico.
    </p>

    <p>
      Ethos se refleja en el carácter, la virtud y la filosofía de vida. 
    </p>

    <p>
      Pathos aparece a través de la emoción, la belleza y la expresión.
    </p>

    <p>
      Cada pilar sostiene un tipo de contenido y forma de pensar distinto, pero juntos componen una visión completa de cómo aprendo, pienso y siento.
    </p>


    <hr class="my-10 border-gray-300">

    <h2 class="text-3xl font-serif font-semibold">¿Por qué existe este jardín?</h2>

    <p>
      He creado este jardin para pensar en voz alta y compartir. Es un espacio donde mis ideas crecen, se ramifican, cambian de forma y, a veces, florecen.
    </p>

  <p>
    En mi jardín encontrarás distintos formatos. Las notas son breves, precisas y conceptuales, desarrollan ideas fundamentales o referencias clave. Los ensayos son más extensos y reflexivos, donde exploro un tema en profundidad y construyo un punto de vista personal y argumentado. Los artículos explican una forma de hacer algo o relatan una experiencia, siempre con un enfoque informativo.
  </p>

    <p>
      Espero que algo aquí te inspire o te acompañe.
    </p>

    <p class="text-center text-sm text-gray-500 pt-10">
      Gracias por visitar este espacio, te doy la bienvenida a mi jardín.
    </p>

  </div>
</section>
