<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>

  {% include header.html %}

  <main>
    {{ content }}
  </main>

  {% include footer.html %}
  
  <div class="flex fixed bottom-8 right-8 z-50">
    <button onclick="window.scrollTo({top: 0, behavior: 'smooth'})"
            class="w-12 h-12 rounded-full bg-black text-white flex items-center justify-center shadow-lg hover:bg-gray-800 transition">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
        <polyline points="18 15 12 9 6 15" transform="translate(0, 1)"/>
      </svg>
    </button>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js" integrity="sha512-NcZdtrT77bJr4STcmsGAESr06BYGE8woZdSdEgqnpyqac7sugNO+Tr4bGwGF3MsnEkGKhU2KL2xh6Ec+BqsaHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/ScrollTrigger.min.js" integrity="sha512-P2IDYZfqSwjcSjX0BKeNhwRUH8zRPGlgcWl5n6gBLzdi4Y5/0O4zaXrtO4K9TZK6Hn1BenYpKowuCavNandERg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  
  <script>
  document.addEventListener("DOMContentLoaded", () => {
    const elements = document.querySelectorAll('.relative-date');
    elements.forEach(el => {
      const date = new Date(el.dataset.date);
      const now = new Date();
      const diffSeconds = Math.floor((now - date) / 1000);

      let result;
      if (diffSeconds < 60) result = "Justo ahora";
      else if (diffSeconds < 3600) result = `${Math.floor(diffSeconds / 60)} minutos atrás`;
      else if (diffSeconds < 86400) result = `${Math.floor(diffSeconds / 3600)} horas atrás`;
      else if (diffSeconds < 604800) result = `${Math.floor(diffSeconds / 86400)} días atrás`;
      else if (diffSeconds < 2592000) result = `${Math.floor(diffSeconds / 604800)} semanas atrás`;
      else if (diffSeconds < 31536000) result = `${Math.floor(diffSeconds / 2592000)} meses atrás`;
      else result = `${Math.floor(diffSeconds / 31536000)} años atrás`;

      el.textContent = result;
    });
  });
  </script>
</body>
</html>