<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>

  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.min.css" rel="stylesheet">
  <!-- Main.css -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
<body class="text-red-600">
  {% include header.html %}    

  <main class="py-8">
    <div class="max-w-8xl mx-auto px-4 flex flex-col md:flex-row gap-8">
      
      <!-- Contenedor de Posts (3/5 de ancho en desktop) -->
      <div class="w-full md:w-4/5">
        <div class="flex flex-col items-center space-y-6">
          {% for post in site.posts %}
            <article class="shadow-md overflow-hidden flex flex-col md:flex-row w-full">
              
              <!-- Imagen con enlace (1/3) -->
              {% if post.image %}
              <a href="{{ post.url }}" class="w-full md:w-2/5 block">
                <div class="w-full aspect-[16/9] border-2 border-white rounded">
                  <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="w-full h-full object-cover">
                </div>
              </a>
            {% endif %}
              
              <!-- Contenido (2/3) -->
              <div class="w-full md:w-3/5 p-6 flex flex-col justify-between">
                <!-- Título y Categorías -->
                <div class="flex flex-wrap justify-between items-center mb-2">
                  {% if post.categories %}
                    <div class="flex flex-wrap gap-2 uppercase">
                      {% for cat in post.categories %}
                        <a href="/categorias/{{ cat | slugify }}/"
                           class="bg-red-600 text-white text-xs px-2 py-1 rounded">
                          {{ cat }}
                        </a>
                      {% endfor %}
                    </div>
                  {% endif %}
                  <h2 class="text-2xl font-bold flex-grow uppercase text-red-600">
                    <a href="{{ post.url }}" class="hover:underline">{{ post.title }}</a>
                  </h2>
                </div>

                <!-- Excerpt con límite de líneas
                {% if post.excerpt %}
                  <p class="text-white mb-4 line-clamp-2 md:line-clamp-3">
                    {{ post.excerpt }}
                  </p>
                {% endif %} -->

                <!-- Fecha y tiempo de lectura -->
                <p class="text-white text-xs md:mb-2 order-2 md:order-none uppercase">
                  {{ post.date | date: "%B %d, %Y" }} &middot; {{ post.reading_time }}
                </p>

                <!-- Botón "Leer más" solo en desktop -->
                <a href="{{ post.url }}" class="border border-red-600 text-red-600 text-center py-2 px-6 rounded-md hover:bg-black hover:text-white transition w-fit self-start hidden md:inline-block">
                  Leer más
                </a>
              </div>
            </article>
            <div class="flex-grow border-t border-stone-900"></div>
          {% endfor %}
        </div>
      </div>

      <!-- Menú de Categorías (solo desktop) -->
      <aside class="w-full md:w-1/5 hidden md:block uppercase">
        <h2 class="text-lg font-bold mb-4 text-red-600">Categorías</h2>
        <ul class="space-y-2">
          {% for category in site.categories %}
            <li>
              <a href="/categorias/{{ category[0] | slugify }}/" 
                class="block py-2 px-4 bg-black rounded text-white hover:underline">
                {{ category[0] }} - {{ category[1] | size }} posts
              </a>
            </li>
          {% endfor %}
        </ul>
      </aside>
    </div>
  </main>

  {% include footer.html %}
</body>
</html>
