---
layout: default
---
<main id="content" class="flex-1 overflow-auto p-6 scroll-smooth snap-y snap-mandatory">
  <section class="snap-start">
    <article class="post" data-aos="fade-up">

      <!-- Título -->
      <h1>{{ page.title }}</h1>
    
      <!-- Metadatos -->
      <p class="text-sm mb-4 text-slate-400">
        {{ page.date | date: "%B %d, %Y" }} ·
        {% for cat in page.categories %}
          <a href="/categorias/{{ cat | slugify }}/" class="text-blue-600 hover:underline" title="ver">{{ cat }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
        · {{ page.reading_time }}
      </p>
    
      <!-- Extracto -->
      {% if page.excerpt %}
        <blockquote data-aos="fade-in">{{ page.excerpt }}</blockquote>
      {% endif %}
    
      <!-- Contenido principal -->
      {{ content }}
    </article>
  </section>
</main>

