<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.min.css" rel="stylesheet">
    
    <!-- Main.css -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
<body class="bg-black text-blue-900">
    {% include header.html %}

    <div class="max-w-3xl mx-auto px-2 py-3">
        <!-- Título del Post -->
        <h1 class="text-4xl md:text-6xl font-bold text-center text-red-600 mb-2 uppercase">
            {{ page.title }}
        </h1>

        <!-- Fecha, categorías y tiempo de lectura -->
        <div class="text-center text-red-600 text-sm mb-2 uppercase">
            <span>{{ page.date | date: "%B %d, %Y" }} · 
                {% for cat in page.categories %}
                    <span class="bg-red-600 text-white px-2 py-1 rounded text-xs">{{ cat }}</span>
                {% endfor %}                
                · {{ page.reading_time }}</span>
        </div>     
        <!-- Excerpt -->
        {% if page.excerpt %}
            <p class="text-md text-red-600 text-center mb-4 uppercase">
                {{ page.excerpt }}
            </p>
        {% endif %}

        <!-- Imágen destacada -->
        {% if page.image %}
            <div class="">
                <img src="{{ page.image }}" alt="">
            </div>
        {% endif %}        

        <!-- Contenido del post con estilos personalizados -->
        <main class="prose prose-blue md:prose-lg lg:prose-xl max-w-none">
            <article class="post">
                {{ content }}
            </article>
        </main>
    </div>

    {% include footer.html %}
</body>
</html>
